<table class="orderTable">
    <thead class="orderTableHeader">
        <tr>
          <th class="orderTableHeaderItem">Order Date</th>
          <% if (category == "ALL" || category == "PAID" || category == "PICKEDUP") { %>
          <th class="orderTableHeaderItem">Pay Date</th>
          <% } %>
          <% if (category == "ALL" || category == "PICKEDUP") { %>
          <th class="orderTableHeaderItem">Picked Up Date</th>
          <% } %>
          <% if (category == "ALL" || category == "CANCELLED") { %>
          <th class="orderTableHeaderItem">Cancelled Date</th>
          <% } %>
          <th class="orderTableHeaderItem">Order I.D.</th>
          <th class="orderTableHeaderItem">Name</th>
          <th class="orderTableHeaderItem">Cellphone No.</th>
          <th class="orderTableHeaderItem">View Orders</th>
          <th class="orderTableHeaderItem">Price</th>
          <th class="orderTableHeaderItem">Status</th>
          <% if (category != "CANCELLED" && category != "PICKEDUP") { %>
          <th class="orderTableHeaderItem">Action</th>
          <% } %>
        </tr>
    </thead>
    <tbody>
        <% orderList.forEach(function(order) { %>
        <tr class="orderTableInfoRow">
            <td class="orderTableInfo" data-label="Order Date"><%= order.orderDate %></td>
            <% if (category == "ALL" || category == "PAID" || category == "PICKEDUP") { %>
            <td class="orderTableInfo" data-label="Pay Date"><%= order.payDate %></td>
            <% } %>
            <% if (category == "ALL" || category == "PICKEDUP") { %>
            <td class="orderTableInfo" data-label="Picked Up Date"><%= order.pickedUpDate %></td>
            <% } %>
            <% if (category == "ALL" || category == "CANCELLED") { %>
            <td class="orderTableInfo" data-label="Cancelled Date"><%= order.cancelledDate %></td>
            <% } %>
            <td class="orderTableInfo" data-label="Order I.D."><%= order.orderId %></td>
            <td class="orderTableInfo" data-label="Name"><%= order.name %></td>
            <td class="orderTableInfo" data-label="Cellphone No."><%= order.cellphoneNo %></td>
            <td class="orderTableInfo" data-label="View Orders"><button class="orderViewBtn">Open</button></td>
            <td class="orderTableInfo" data-label="Price"><%= order.price %></td>
            <td class="orderTableInfo" data-label="Status"><%= order.status %></td>
            <% if (category != "CANCELLED" && category != "PICKEDUP") { %>
            <td class="orderTableInfo" data-label="Action">
                <% if (order.status == "UNPAID") { %>
                    <button class="orderStatusBtn">PAID</button>
                <% } else if (order.status == "PAID") { %>
                    <button class="orderStatusBtn">PICKED UP</button>
                <% } %>
            </td>
            <% } %>
        </tr>
        <% }) %>
     </tbody>
</table>