<table class="orderTable">
    <thead class="orderTableHeader">
        <tr>
          <th class="orderTableHeaderItem">Order Date</th>          
          <%_ if (orderList.category == "all" || orderList.category == "paid" || orderList.category == "pickedup") { _%>
          <th class="orderTableHeaderItem">Pay Date</th>
          <%_ } _%>
          <%_ if (orderList.category == "all" || orderList.category == "pickedup") { _%>
          <th class="orderTableHeaderItem">Picked Up Date</th>
          <%_ } _%>
          <%_ if (orderList.category == "all" || orderList.category == "cancelled") { _%>
          <th class="orderTableHeaderItem">Cancelled Date</th>
          <%_ } _%>
          <th class="orderTableHeaderItem">Order I.D.</th>
          <th class="orderTableHeaderItem">Name</th>
          <th class="orderTableHeaderItem">Cellphone No.</th>
          <th class="orderTableHeaderItem">View Orders</th>
          <th class="orderTableHeaderItem">Price</th>
          <th class="orderTableHeaderItem">Status</th>
          <%_ if (orderList.category != "cancelled" && orderList.category != "pickedup") { _%>
          <th class="orderTableHeaderItem">Action</th>
          <%_ } _%>
        </tr>
    </thead>
    <tbody>
        <%_ orderList.forEach(function(order) { _%>
        <tr class="orderTableInfoRow">
            <td class="orderTableInfo" data-label="Order Date"><%= order.orderDate %></td>
            <%_ if (orderList.category == "all" || orderList.category == "paid" || orderList.category == "pickedup") { _%>
            <td class="orderTableInfo" data-label="Pay Date"><%= order.payDate %></td>
            <%_ } _%>
            <%_ if (orderList.category == "all" || orderList.category == "pickedup") { _%>
            <td class="orderTableInfo" data-label="Picked Up Date"><%= order.pickUpDate %></td>
            <%_ } _%>
            <%_ if (orderList.category == "all" || orderList.category == "cancelled") { _%>
            <td class="orderTableInfo" data-label="Cancelled Date"><%= order.cancelDate %></td>
            <%_ } _%>
            <td class="orderTableInfo" data-label="Order I.D."><%= order.orderID %></td>
            <td class="orderTableInfo" data-label="Name"><%= order.name %></td>
            <td class="orderTableInfo" data-label="Cellphone No."><%= order.contactNumber %></td>
            <td class="orderTableInfo" data-label="View Orders"><button class="orderViewBtn" data="<%= order.orderID %>">Open</button></td>
            <td class="orderTableInfo" data-label="Price"><%= order.totalPrice %></td>
            <td class="orderTableInfo" data-label="Status"><%= order.status %></td>
            <%_ if (orderList.category != "cancelled" && orderList.category != "pickedup") { _%>
            <td class="orderTableInfo" data-label="Action">
                <%_ if (order.status == "unpaid") { _%>
                <button class="orderStatusBtn">PAID</button>
                <%_ } else if (order.status == "paid") { _%>
                <button class="orderStatusBtn">PICKED UP</button>
                <%_ } _%>
            </td>
            <%_ } _%>
        </tr>
        <%_ }) _%>
     </tbody>
</table>