<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Basket</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>

    <body class="mainBackground">
        <div class="header">
            <div class="logo">
                <img src="images/Logo.png" placeholder="G-Cakes Logo" alt="1">
            </div>

            <div class="menu">
                <button class="menuBtn">CAKES</button>
                <button class="menuBtn">CUPCAKES</button>
                <button class="menuBtn">DECORATED COOKIES</button>
                <button class="menuBtn">ABOUT</button>
                <button class="menuBtn"><img src="images/basket.png"></button>
            </div>
        </div>

        <div class="basketContainer">
            <div class="basketItemContainer">
                <%_ basketItemList.forEach(function(basketItem, index) { _%>
                <div class="basketItem" name="<%= productItemList[index].type %>" data="<%= productItemList[index].itemNumber %>">
                    <div class="basketItemImage">
                        <img src="images/cake1.jpg" placeholder="trial" alt="1">
                    </div>
                    
                    <!--
                    <div class="basketItemInfo">
                        <div class="basketNameContainer">
                            <h2>Birthday chocolate</h2>
                            <input type="hidden" name="productName" value="productName">
                        </div>
                        <div class="basketTypeContainer">
                            <h3>Type of Cake:</h3>
                            <select class="editFlavor" title="Flavor" id="flavor" name="flavor">
                                <option>Select Flavor</option>
                                
                            </select>
                            <select class="editSize" title="Size" id="size" name="size">
                                <option>Select Size</option>
                                
                            </select> 
                        </div>
                    </div>
                    
                    <div class="basketItemQuantity">
                        <div class="basketQuantityContainer">
                            <span id="decrement" class="incdec basketDecrement">-</span>
                            <input class="quantity basketQuantity" type="number" value="1">
                            <span id="increment" class="incdec basketIncrement">+</span>
                        </div>
                    </div>

                    <div class="basketGroupPriceNRemove">
                        <div class="basketItemPrice">
                            <h2>100000</h2>
                        </div>
                        <div class="basketItemRemove">
                            <button class="removeItem">Remove</button>
                        </div>
                    </div>
                    -->

                    <div class="basketItemInfo">
                        <div class="basketNameContainer">
                            <h2><%= productItemList[index].name %></h2>
                        </div>
                        <div class="basketTypeContainer">
                            <h3>Type of <%= productItemList[index].type %>:</h3>
                            <%_ if (productItemList[index].type != 'Cookie') { _%>
                            <select class="editFlavor" title="Flavor" id="flavor<%= index+1 %>" name="flavor">  
                                <!-- Cake -->                              
                                <%_ if (basketItem.vanilla6x5Price > 0 || basketItem.vanilla8x5Price > 0) { _%>
                                    <option value="vanilla" <% if (productItemList[index].flavor == "vanilla") { %> selected <% } %>>Vanilla</option>
                                <%_ } _%>
                                <%_ if (basketItem.chocolate6x5Price > 0 || basketItem.chocolate8x5Price > 0) { _%>
                                    <option value="chocolate" <% if (productItemList[index].flavor == "chocolate") { %> selected <% } %>>Chocolate</option>
                                <%_ } _%>
                                <!-- Cupcake -->
                                <%_ if (basketItem.vanillaFondantPrice > 0 || basketItem.vanillaIcingPrice > 0) { _%>
                                    <option value="vanilla" <% if (productItemList[index].flavor == "vanilla") { %> selected <% } %>>Vanilla</option>
                                <%_ } _%>
                                <%_ if (basketItem.chocolateFondantPrice > 0 || basketItem.chocolateIcingPrice > 0) { _%>
                                    <option value="chocolate" <% if (productItemList[index].flavor == "chocolate") { %> selected <% } %>>Chocolate</option>
                                <%_ } _%>
                                <%_ if (basketItem.redvelvetFondantPrice > 0 || basketItem.redvelvetIcingPrice > 0) { _%>
                                    <option value="redVelvet" <% if (productItemList[index].flavor == "redVelvet") { %> selected <% } %>>Red Velvet</option>
                                <%_ } _%>
                            </select>
                            <%_ } _%>

                            <%_ if (productItemList[index].type == 'Cake') { _%>
                            <select class="editSize" title="Size" id="size<%= index+1 %>" name="size">
                                <%_ if (basketItem.vanilla6x5Price > 0 || basketItem.chocolate6x5Price > 0) { _%>
                                    <option value="6x5" <% if (productItemList[index].size == "6x5") { %> selected <% } %>>6" x 5"</option>
                                <%_ } _%>
                                <%_ if (basketItem.vanilla8x5Price > 0 || basketItem.chocolate8x5Price > 0) { _%>
                                    <option value="8x5" <% if (productItemList[index].size == "8x5") { %> selected <% } %>>8" x 5"</option>
                                <%_ } _%>
                            </select> 
                            <%_ } _%>

                            <%_ if (productItemList[index].type == 'Cupcake') { _%>
                            <select id="frosting<%= index+1 %>" class="editFrosting" title="Frosting" name="frosting">
                                <%_ if (basketItem.vanillaFondantPrice > 0 || basketItem.chocolateFondantPrice > 0 || basketItem.redvelvetFondantPrice > 0) { _%>
                                    <option value="fondant" <% if (productItemList[index].flavor == "fondant") { %> selected <% } %>>Fondant</option>
                                <%_ } _%>
                                <%_ if (basketItem.vanillaIcingPrice > 0 || basketItem.chocolateIcingPrice > 0 || basketItem.redvelvetIcingPrice > 0) { _%>
                                    <option value="icing" <% if (productItemList[index].flavor == "icing") { %> selected <% } %>>Icing</option>
                                <%_ } _%>
                            </select>
                            <%_ } _%>
                        </div>
                    </div>
                    
                    <div class="basketItemQuantity">
                        <div class="basketQuantityContainer">
                            <span id="decrement" class="incdec basketDecrement">-</span>
                            <input id="quantity<%= index+1 %>" class="quantity basketQuantity" type="number" value="<%= productItemList[index].quantity %>">
                            <span id="increment" class="incdec basketIncrement">+</span>
                        </div>
                    </div>

                    <div class="basketGroupPriceNRemove">
                        <div class="basketItemPrice">
                            <h2 id="price<%= index+1 %>"><%= productItemList[index].price %></h2>
                        </div>
                        <div class="basketItemButton">
                            <button class="updateItem">Update</button>
                            <button class="removeItem" value="<%= productItemList[index].itemNumber %>">Remove</button>
                        </div>
                    </div>

                    <input type="hidden" name="test" data="<%= productItemList[index] %>"/>
                </div>
                <%_ }) _%>
            </div>
            <div class="totalPriceContainer">
                <span class="totalPrice">Total: 1200</span>
                <button class="basketSubmit">CHECK OUT</button>
            </div>
        </div>
        <script>
            $(document).ready(function() {            
                let basketItemList = <%- JSON.stringify(basketItemList) %>;
                let productItemList = <%- JSON.stringify(productItemList) %>

                $('.editFlavor').change(function() {
                    var itemBoxNumber = $(this).parents('.basketItem').attr('data')
                    var itemBoxType = $(this).parents('.basketItem').attr('name')

                    if (itemBoxType == 'Cake') {
                        updateAvailableBasketCakeSize(itemBoxNumber)
                        updateBasketCakePrice(itemBoxNumber)
                    } else if (itemBoxType == 'Cupcake') {
                        updateAvailableBasketCupcakeFrosting(itemBoxNumber)
                        updateBasketCupcakePrice(itemBoxNumber)
                    }
                    checkUpdate(itemBoxNumber)
                })

                $('.editFrosting').change(function() {
                    var itemBoxNumber = $(this).parents('.basketItem').attr('data')

                    updateBasketCupcakePrice(itemBoxNumber)
                    checkUpdate(itemBoxNumber)
                })

                $('.editSize').change(function() {
                    var itemBoxNumber = $(this).parents('.basketItem').attr('data')

                    updateBasketCakePrice(itemBoxNumber)
                    checkUpdate(itemBoxNumber)
                })

                function updateAvailableBasketCakeSize(itemNumber) {
                    var currentFlavor = $('#flavor' + itemNumber).val()
                    var basketItem = basketItemList[itemNumber - 1]
                    $('#size' + itemNumber).find('option').remove()
                    if (currentFlavor == "vanilla") {
                        if (basketItem.vanilla6x5Price > 0) {
                            $('#size' + itemNumber).append(new Option("6\" x 5\"", "6x5"))                  
                        }
                        if (basketItem.vanilla8x5Price > 0) {
                            $('#size' + itemNumber).append(new Option("8\" x 5\"", "8x5"))
                        }
                    } else {
                        if (basketItem.chocolate6x5Price > 0) {
                            $('#size' + itemNumber).append(new Option("6\" x 5\"", "6x5"))
                        }
                        if (basketItem.chocolate8x5Price > 0) {
                            $('#size' + itemNumber).append(new Option("8\" x 5\"", "8x5"))
                        }
                    }
                }

                function updateBasketCakePrice(itemNumber) {
                    var currentFlavor = $('#flavor' + itemNumber).val()
                    var currentSize = $('#size' + itemNumber).val()
                    var basketItem = basketItemList[itemNumber - 1]
                    if (currentFlavor == 'vanilla' && currentSize == '6x5') {
                        $('#price' + itemNumber).text(basketItem.vanilla6x5Price)
                    } else if (currentFlavor == 'chocolate' && currentSize == '6x5'){
                        $('#price' + itemNumber).text(basketItem.chocolate6x5Price)
                    } else if (currentFlavor == 'vanilla' && currentSize == '8x5') {
                        $('#price' + itemNumber).text(basketItem.vanilla8x5Price)
                    } else {
                        $('#price' + itemNumber).text(basketItem.chocolate8x5Price)
                    }
                }

                function updateAvailableBasketCupcakeFrosting(itemNumber) {
                    var currentFlavor = $('#flavor' + itemNumber).val()
                    var basketItem = basketItemList[itemNumber - 1]
                    $('#frosting' + itemNumber).find('option').remove()
                    if (currentFlavor == 'vanilla') {
                        if (basketItem.vanillaFondantPrice > 0) {
                            $('#frosting' + itemNumber).append(new Option("Fondant", "fondant"))             
                        }
                        if (basketItem.vanillaIcingPrice > 0) {
                            $('#frosting' + itemNumber).append(new Option("Icing", "icing"))
                        }
                    } else if (currentFlavor == 'chocolate') {
                        if (basketItem.chocolateFondantPrice > 0) {
                            $('#frosting' + itemNumber).append(new Option("Fondant", "fondant"))
                        }
                        if (basketItem.chocolateIcingPrice > 0) {
                            $('#frosting' + itemNumber).append(new Option("Icing", "icing"))
                        }
                    } else {
                        if (basketItem.redvelvetFondantPrice > 0) {
                            $('#frosting' + itemNumber).append(new Option("Fondant", "fondant"))
                        }
                        if (basketItem.redvelvetIcingPrice > 0) {
                            $('#frosting' + itemNumber).append(new Option("Icing", "icing"))
                        }
                    }
                }
                
                function updateBasketCupcakePrice(itemNumber) {
                    var currentFlavor = $('#flavor' + itemNumber).val()
                    var currentFrosting = $('#frosting' + itemNumber).val()
                    var basketItem = basketItemList[itemNumber - 1]
                    if (currentFlavor == 'vanilla' && currentFrosting == 'fondant') {
                        $('#price' + itemNumber).text(basketItem.vanillaFondantPrice)
                    } else if (currentFlavor == 'chocolate' && currentFrosting == 'fondant') {
                        $('#price' + itemNumber).text(basketItem.chocolateFondantPrice)
                    } else if (currentFlavor == 'redVelvet' && currentFrosting == 'fondant'){
                        $('#price' + itemNumber).text(basketItem.redvelvetFondantPrice)
                    } else if (currentFlavor == 'vanilla' && currentFrosting == 'icing') {
                        $('#price' + itemNumber).text(basketItem.vanillaIcingPrice)
                    } else if (currentFlavor == 'chocolate' && currentFrosting == 'icing'){
                        $('#price' + itemNumber).text(basketItem.chocolateIcingPrice)
                    } else {
                        $('#price' + itemNumber).text(basketItem.redvelvetIcingPrice)
                    }
                }

                function checkUpdate(itemNumber) {
                    var productRecord = productItemList[itemNumber - 1]
                    if (productRecord.type == 'Cake') {
                        var currentFlavor = $('#flavor' + itemNumber).val()
                        var currentSize = $('#size' + itemNumber).val()
                        var currentQuantity = $('#quantity' + itemNumber).val()
                        var currentPrice = parseInt($('#price' + itemNumber).text())

                        console.log(currentFlavor + " "+ productRecord.flavor)
                        console.log(currentSize + " " + productRecord.size)
                        console.log(currentQuantity + " " + productRecord.quantity)
                        console.log(currentPrice + " " + productRecord.price)

                        if (currentFlavor != productRecord.flavor || currentSize != productRecord.size 
                            || currentQuantity != productRecord.quantity || currentPrice != productRecord.price) {
                            $('.updateItem').css("display", "inline")
                        } else {
                            $('.updateItem').css("display", "none");
                        }
                    } else if (productRecord.type == 'Cupcake') {
                        var currentFlavor = $('#flavor' + itemNumber).val()
                        var currentFrosting = $('#frosting' + itemNumber).val()
                        var currentQuantity = $('#quantity' + itemNumber).val()
                        var currentPrice = parseInt($('#price' + itemNumber).text())

                        console.log(currentFrosting + " " + productRecord.frosting)
                        console.log(currentFlavor + " "+ productRecord.flavor)
                        console.log(currentQuantity + " " + productRecord.quantity)
                        console.log(currentPrice + " " + productRecord.price)

                        if (currentFlavor != productRecord.flavor || currentFrosting != productRecord.frosting 
                            || currentQuantity != productRecord.quantity || currentPrice != productRecord.price) {
                            $('.updateItem').css("display", "inline")
                        } else {
                            $('.updateItem').css("display", "none");
                        }
                    } else {
                        var currentQuantity = $('#quantity' + itemNumber).val()
                        var currentPrice = parseInt($('#price' + itemNumber).text())

                        if (currentQuantity != productRecord.quantity || currentPrice != productRecord.price) {
                            $('.updateItem').css("display", "inline")
                        } else {
                            $('.updateItem').css("display", "none");
                        }
                    }
                }

                $(".removeItem").click(function() {
                    var itemNumber = $(this).val()

                    $.post('/removeBasketItem', {itemNumber: itemNumber}, function(result) {
                        alert(result)
                    })
                    $(this).parents('.basketItem').remove()
                })
            })
        </script>
    </body>

</html>