<!DOCTYPE html>
<html>

	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Cakes</title>
        <link href="/css/productsPage.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>

	<body class="mainBackground">
		<div class="header">
			<div class="logo">
                <img src="/images/logo.png" placeholder="G-Cakes Logo" alt="G-Cakes Logo" >
            </div>
		
			<div class="menu">
				<button class="menuBtn" style="font-weight:bold;">CAKES</button>
				<a href="/admin/Cupcake"><button class="menuBtn">CUPCAKES</button></a>
				<a href="/admin/Cookie"><button class="menuBtn">DECORATED COOKIES</button></a>
				<a href="/admin/About"><button class="menuBtn">ABOUT</button></a>
				<a href="/admin/orders/all"><button class="menuBtn">ORDERS</button></a>
			</div>
		</div>
		<div class="productBox">
			<div class="buttonHolder">	
				<button type="submit" class="AddA" id="add">Add Cake</button>				
			</div>
			<form class="productForm" method="Post" enctype="multipart/form-data">
				<table class="table1">
					<tr>
						<th class="th1">Picture</th>
						<th class="th1">Name</th>
						<th class="th1">Flavor</th>
						<th class="th1">Size</th>
						<th class="th1">Price</th>
					</tr>
					<% cakes.forEach(function(cakes) { %>
						<% if (cakes.numberCake) { %>
							<tr class="border">
								<td class="td1"><img src="<%= cakes.image %>" placeholder="<%= cakes.name %>" alt="<%= cakes.name %>"></td>
								<td id="displayProductName" class="td1"><%= cakes.name %></td>
								<td class="td1">Chocolate<br></td>
								<td class="td1">Number Cake<br></td>
								<td class="td1">&#8369;<%= cakes.numberCakePrice %><br></td>
								<td class="td1"><button type="button" class="Edit" id="edit">edit</button><br><br><button type="button" class="Remove" id="remove">remove</button></td>
							</tr>
						<% } else { %>
							<tr class="border">
								<td class="td1"><img src="<%= cakes.image %>" placeholder="<%= cakes.name %>" alt="<%= cakes.name %>"></td>
								<td id="displayProductName" class="td1"><%= cakes.name %></td>
								<td class="td1">Chocolate<br><br><br>Vanilla</td>
								<td class="td1">6 X 5<br>8 X 5<br><br>6 X 5<br>8 X 5</td>
								<td class="td1">&#8369;<%= cakes.chocolate6x5Price %><br>&#8369;<%= cakes.chocolate8x5Price %><br><br>&#8369;<%= cakes.vanilla6x5Price %><br>&#8369;<%= cakes.vanilla8x5Price %></td>
								<td class="td1"><button type="button" class="Edit" id="edit">edit</button><br><br><button type="button" class="Remove" id="remove">remove</button></td>
							</tr>
						<% } %>
					<% }) %>
				</table>
				<br>
				<div class="paginationHolder">	
					<div class="pagination">
						<button type="button" class="pageBtn" id="pagebtn"><a>&laquo;</a></button>
						<button type="button" class="pageBtn" id="pagebtn"><a>1</a></button>
						<button type="button" class="pageBtn" id="pagebtn"><a>2</a></button>
						<button type="button" class="pageBtn" id="pagebtn"><a>3</a></button>
						<button type="button" class="pageBtn" id="pagebtn"><a>4</a></button>
						<button type="button" class="pageBtn" id="pagebtn"><a>5</a></button>
						<button type="button" class="pageBtn" id="pagebtn"><a>6</a></button>
						<button type="button" class="pageBtn" id="pagebtn"><a>&raquo;</a></button>
					</div>
				</div>			
			</form>
		</div>
		<div id="cakeModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content" style="background-color: #EBD8DB;">
				<span class="close"></span>
				<div class="addProductHeader">
					<h1>ADD CAKE</h1>
				</div>
				<%- include("partials/messages") %>
				<form action="/addCake" class="addProductForm" method="Post" enctype="multipart/form-data">
					<table class="table2">
						<tr>
							<td class="td2" style="width: 22%;"><div class="productCss"><label for="productName">Cake Name:</label></div></td>	
							<td class="td2" style="width: 3%;"></td>
							<td class="td2" style="width: 25%;"><input class="inputName" type="text" id="productName" name="productName" placeholder="Enter Name"></td>
							<td class="td2" style="text-align: center; width: 17%;"><div class="productCss"><label for="productPictures">Image:</label></div></td>								
							<td class="td2"><input type="file" id="myFile" name="filename"></td>
						</tr>
					
						<tr>
							<td class="td2"><div class="productCss"><label for="productFlavors">Vanilla</label></div></td>
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2"></td>								
							<td class="td2"><div class="productCss"><input class="inputCheckbox" type="checkbox" id="productDedication" name="productDedication" value="true">
							<span class="checkmark"></span><label for="allowDedication">Allow dedication</label></div></td>
						</tr>
					
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss"><label for="productSizes">6 x 5</label></div></td>
							<td class="td2"></td>								
							<td class="td2"><input class="input" type="number" name="productPricesVanilla1" placeholder="Enter Price"></td>
							<td class="td2"></td>								
							<td class="td2"><div class="productCss"><input class="inputCheckbox" type="checkbox" id="productNumberCake" name="productNumberCake" value="true">
							<label for="numberCake">Number Cake</label><span class="checkmark"></span></div></td>
						</tr>
						
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss"><label for="productSizes">8 x 5</label></div></td>								
							<td class="td2"></td>
							<td class="td2"><input class="input" type="number" name="productPricesVanilla2" placeholder="Enter Price"></td>
							<td class="td2" colspan="2" style="text-align: center;"><div class="productCss"><label for="productSizes">Number Cake</label>
							<a>&nbsp;</a><input class="inputNum" type="number" name="productPricesNumberCake" placeholder="Not Applicable" value="0" readonly></td>								
						</tr>
					
						<tr>
							<td class="td2"><div class="productCss"><label for="productFlavors">Chocolate</label></div></td>								
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2"></td>
							
						</tr>
						
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss"><label for="productSizes">6 x 5</label></div></td>								
							<td class="td2"></td>
							<td class="td2"><input class="input" type="number" name="productPricesChocolate1" placeholder="Enter Price"></td>
							<td class="td2"></td>								
							<td class="td2" style="text-align: center;"><button type="submit" class="Add" id="addl">Add</button></td>
						</tr>
						
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss"><label for="productSizes">8 x 5</label></div></td>
							<td class="td2"></td>
							<td class="td2"><input class="input" type="number" name="productPricesChocolate2" placeholder="Enter Price"></td>
							<td class="td2"></td>								
							<td class="td2" style="text-align: center; padding-top:10px;"><button type="button" class="Cancel" id="cancel">Cancel</button></td>
						</tr>							
					</table>
				</form>
			</div>
		</div>
	</body>
	<script>
	// Checks if there are error messages to automatically open the modal.
	$( document ).ready(function() {
		var errors = '<%= error_msg %>';
		if(errors.length > 0) {
			$('#cakeModal').css('display', 'block')
		}	
		$(".inputNum").css('background-color', 'gray')
	});
	// Get the modal
	var modal = document.getElementById("cakeModal");
	// Get the button that opens the modal
	var btn = document.getElementById("add");
	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];
	// When the user clicks the button, open the modal 
	btn.onclick = function() {
		modal.style.display = "block";
	}
	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
		modal.style.display = "none";
	}
	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}
	
	$('.Remove').click(function() {
		if (confirm('Are you sure you want to delete the product?') == true) {
			var border = $(this).parents('.border')
			var productName = border.children('#displayProductName').text()
			var productType = window.location.pathname.split("/").pop()
			var productImage = border.find('img').attr('src')
			console.log(productImage)
			border.empty()
			border.remove()
			$.get('/deleteProduct', {name: productName, image: productImage, type: productType}, function(result) {
				alert(result)
			})
		}
	})

	
	$('#productNumberCake').change(function() {
		if ($(this).is(":checked") == true) {
			$(".input").val(0);
			$(".input").attr('placeholder', 'Not Applicable');
			$(".input").attr('readonly', true);
			$(".input").css('background-color', 'gray')
			$(".inputNum").css('background-color', 'white')
			$(".inputNum").attr('placeholder', 'Enter Price');
			$(".inputNum").attr('readonly', false);
		} else {
			$(".input").attr('placeholder', 'Enter Price');
			$(".input").attr('readonly', false);
			$(".input").css('background-color', 'white')
			$(".inputNum").val(0);
			$(".inputNum").css('background-color', 'gray')
			$(".inputNum").attr('placeholder', 'Not Applicable');
			$(".inputNum").attr('readonly', true);
		}
	})
	</script>
</html>	