<!DOCTYPE html>
<html>

	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Cakes</title>
        <link href="/css/productsPage.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>

	<body class="mainBackground">
		<div class="header">
			<div class="logo">
                <img src="/images/logo.png" placeholder="G-Cakes Logo" alt="G-Cakes Logo" >
            </div>
		
			<div class="menu">
				<button class="menuBtn" style="font-weight:bold;">CAKES</button>
				<a href="/Admin/Cupcake"><button class="menuBtn">CUPCAKES</button></a>
				<a href="/Admin/Cookie"><button class="menuBtn">DECORATED COOKIES</button></a>
				<a href="/Admin/About"><button class="menuBtn">ABOUT</button></a>
				<a href="/Admin/orders/all"><button class="menuBtn">ORDERS</button></a>
				<a href="/logout"><button class="logoutBtn">LOGOUT</button></a>
			</div>
		</div>
		<div class="productBox">
			<div class="buttonHolder">	
				<button type="submit" class="AddA" id="add">Add Cake</button>				
			</div>
			<form class="productForm" method="Post" enctype="multipart/form-data">
				<table class="table1">
					<tr>
						<th class="th1">Picture</th>
						<th class="th1">Name</th>
						<th class="th1">Flavor</th>
						<th class="th1">Size</th>
						<th class="th1">Price</th>
						<th class="th1">Dedication</th>
					</tr>
					<% cakes.forEach(function(cakes) { %>
						<% if (cakes.numberCake) { %>
							<tr class="border">
								<td class="td1"><img src="<%= cakes.image %>" placeholder="<%= cakes.name %>" alt="<%= cakes.name %>"></td>
								<td class="td1" id="displayProductName"><%= cakes.name %></td>
								<td class="td1">Chocolate<br></td>
								<td class="td1">Number Cake<br></td>
								<td class="td1">&#8369;<%= cakes.numberCakePrice %><br></td>
								<td class="td1"><% if(cakes.dedication){ %>
												Yes
												<%} else { %>
												No
												<% } %></td>
								<td class="td1"><button type="button" class="Edit" id="edit">edit</button><br><br><button type="button" class="Remove" id="remove">remove</button></td>
							</tr>
						<% } else { %>
							<tr class="border">
								<td class="td1"><img src="<%= cakes.image %>" placeholder="<%= cakes.name %>" alt="<%= cakes.name %>"></td>
								<td class="td1" id="displayProductName"><%= cakes.name %></td>
								<td class="td1">Vanilla<br><br><br>Chocolate</td>
								<td class="td1">6 X 5<br>8 X 5<br><br>6 X 5<br>8 X 5</td>
								<td class="td1">&#8369;<%= cakes.vanilla6x5Price %><br>&#8369;<%= cakes.vanilla8x5Price %><br><br>&#8369;<%= cakes.chocolate6x5Price %><br>&#8369;<%= cakes.chocolate8x5Price %></td>
								<td class="td1"><% if(cakes.dedication){ %>
												Yes
												<%} else { %>
												No
												<% } %> </td>
								<td class="td1"><button type="button" class="Edit" id="edit">edit</button><br><br><button type="button" class="Remove" id="remove">remove</button></td>
							</tr>
						<% } %>
					<% }) %>
				</table>
				<br>
				<div class="paginationHolder">	
					<div class="pagination">
						<% if (currentPage > 1) { %>
							<button type="button" class="pageBtn" id="previousPageBtn"><a href="/Admin/Cake?pageNumber=<%= parseInt(currentPage) - 1 %>">&laquo;</a></button>
						<% } else { %>
							<button type="button" class="pageBtn" id="previousPageBtn"><a>&laquo;</a></button>
						<% } %>
							<% for (let i = 1; i <= numberofPages; i++) { %>
								<% if (i == currentPage) { %>
									<button type="button" class="pageBtn pageBtnValue"><a><strong><%= i %></strong></a></button>
								<% } else { %>
									<button type="button" class="pageBtn pageBtnValue"><a href="/Admin/Cake?pageNumber=<%= i %>"><%= i %></a></button>
								<% } %>
							<% } %>
						<% if (currentPage < numberofPages) { %>
							<button type="button" class="pageBtn" id="nextPageBtn"><a href="/Admin/Cake?pageNumber=<%= parseInt(currentPage) + 1 %>">&raquo;</a></button>
						<% } else { %>
							<button type="button" class="pageBtn" id="nextPageBtn"><a>&raquo;</a></button>
						<% } %>
					</div>
				</div>			
			</form>
		</div>
		<div id="cakeModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content" style="background-color: #EBD8DB;">
				<span class="close">&times;</span>
				<div class="addProductHeader">
					<h1>ADD CAKE</h1>
				</div>
				<%- include("partials/messages") %>	
				<form id="addProductForm" class="addProductForm" method="Post" enctype="multipart/form-data">
					<table class="table2">
						<tr>
							<td class="td2" style="width: 22%;"><div class="productCss"><label for="productName">Cake Name:</label></div></td>	
							<td class="td2" style="width: 3%;"></td>
							<td class="td2" style="width: 30%; "><input class="inputName" type="text" id="productName" name="productName" placeholder="Enter Name" required><p id="productNameAddError" class="addError"></p></td>
							<td class="td2" style="text-align: center; width: 13%;"><div class="productCss"><label for="productPictures">Image:</label></div></td>								
							<td class="td2" ><input type="file" class="myFile" name="filename"><p id="filenameAddError" class="addError"></p></td>
						</tr>
						
						<tr>							
							<td class="td2" colspan="2"><div class="productCss"><input class="inputCheckbox" type="checkbox" id="productNumberCake" name="productNumberCake" value="true">
							<label for="numberCake">Number Cake</label><span class="checkmark"></span></div></td>
							<td class="td2"></td>	
							<td class="td2"></td>	
							<td class="td2" rowspan="6"><img class="previewPic"></td>							
						</tr>
						

						<tr>
							<td class="td2"><div class="productCss" style="height: 40px; line-height: 40px;"><label class="numberCake" for="productSizes" hidden>Number Cake</label></td>
							<td class="td2"></td>	
							<div class="numberCake"><td class="td2"><input class="inputNum" type="number" name="productPricesNumberCake" placeholder="Not Applicable" value="0" hidden><p id="productPricesNumberCakeAddError" class="addError"></p></td></div>	
							<td class="td2"></td>										
						</tr>

						<tr>
							<td class="td2"><div class="productCss" style="height: 20px;"><label class="flavorCake" for="productFlavors">Vanilla</label></div></td>
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2"></td>									
						</tr>
					
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss" style="height: 40px; line-height: 40px;"><label class="flavorCake" for="productSizes">6 x 5</label></div></td>
							<td class="td2"></td>								
							<td class="td2"><input class="input" type="number" name="productPricesVanilla1" placeholder="Enter Price"><p id="productPricesVanilla1AddError" class="addError"></p></td>
							<td class="td2"></td>									
						</tr>

						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss" style="height: 40px; line-height: 40px;"><label class="flavorCake" for="productSizes">8 x 5</label></div></td>							
							<td class="td2"></td>
							<td class="td2"><input class="input" type="number" name="productPricesVanilla2" placeholder="Enter Price"><p id="productPricesVanilla2AddError" class="addError"></p></td>
							<td class="td2"></td>		
						</tr>


						<tr>
							<td class="td2"><div class="productCss" style="height: 20px;"><label class="flavorCake" for="productFlavors">Chocolate</label></div></td>							
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2"></td>
							
							
						</tr>
						
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss" style="height: 40px; line-height: 40px;"><label class="flavorCake" for="productSizes">6 x 5</label></div></td>							
							<td class="td2"></td>
							<td class="td2"><input class="input" type="number" name="productPricesChocolate1" placeholder="Enter Price"><p id="productPricesChocolate1AddError" class="addError"></p></td>						
							<td class="td2" colspan="2" style="text-align: center;"><div class="productCss"><input class="inputCheckboxD" type="checkbox" id="productDedication" name="productDedication" value="true">
							<span class="checkmark"></span><label class="flavorCake" for="allowDedication">Allow dedication</label></div></td>
						</tr>


						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss" style="height: 40px; line-height: 40px;"><label class="flavorCake" for="productSizes">8 x 5</label></div></td>
							<td class="td2"></td>
							<td class="td2"><input class="input" type="number" name="productPricesChocolate2" placeholder="Enter Price"><p id="productPricesChocolate2AddError" class="addError"></p></td>
							<td class="td2" colspan="2"; style="text-align: center; padding-top: 10px;"><button type="button" class="Cancel" id="cancel">Cancel</button>	
							<a>&nbsp;&nbsp;&nbsp;</a><button type="button" class="Add" id="addl">Add</button></td>	
						</tr>					
					</table>
				</form>
			</div>
		</div>
		<div id="editcakeModal" class="modal modals">
			<!-- Modal content -->
			<div class="modal-content" style="background-color: #EBD8DB;">
				<span class="close">&times;</span>
				<div class="editProductHeader">
					<h1>EDIT CAKE</h1>
				</div>				
				<form id="editProductForm" class="editProductForm" method="Post" enctype="multipart/form-data">
					<table class="table2">
						<tr>
							<td class="td2" style="width: 22%;"><div class="productCss"><label for="productName">Cake Name:</label></div></td>	
							<td class="td2" style="width: 3%;"></td>
							<td class="td2" style="width: 30%;"><input class="inputName" type="text" id="productName" name="productName" placeholder="Enter Name"><p id="productNameEditError" class="editError"></p></td>
							<td class="td2" style="text-align: center; width: 13%;"><div class="productCss"><label for="productPictures">Image:</label></div></td>								
							<td class="td2"><input type="file" class="myFile" name="filename"><p id="filenameEditError" class="editError"></p></td>
						</tr>
						
						<tr>							
							<td class="td2" colspan="2"><div class="productCss"><input class="inputCheckbox" type="checkbox" id="productNumberCake" name="productNumberCake" value="true">
							<label for="numberCake">Number Cake</label><span class="checkmark"></span></div></td>
							<td class="td2"></td>	
							<td class="td2"></td>	
							<td class="td2" rowspan="5"><img class="previewPic"></td>							
						</tr>
						
						<tr>
							<td class="td2"><div class="productCss" style="height: 40px; line-height: 40px;"><label class="numberCake" for="productSizes" hidden>Number Cake</label></td>
							<td class="td2"></td>	
							<div class="numberCake"><td class="td2"><input class="inputNum" type="number" name="productPricesNumberCake" placeholder="Not Applicable" value="0" hidden><p id="productPricesNumberCakeEditError" class="editError"></p></td></div>	
							<td class="td2"></td>										
						</tr>
						
						<tr>
							<td class="td2"><div class="productCss" style="height: 20px;"><label class="flavorCake" for="productFlavors">Vanilla</label></div></td>
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2"></td>									
						</tr>
					
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss" style="height: 40px; line-height: 40px;"><label class="flavorCake" for="productSizes">6 x 5</label></div></td>
							<td class="td2"></td>								
							<td class="td2"><input class="input" type="number" name="productPricesVanilla1" placeholder="Enter Price"><p id="productPricesVanilla1EditError" class="editError"></p></td>
							<td class="td2"></td>									
						</tr>
						
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss" style="height: 40px; line-height: 40px;"><label class="flavorCake" for="productSizes">8 x 5</label></div></td>							
							<td class="td2"></td>
							<td class="td2"><input class="input" type="number" name="productPricesVanilla2" placeholder="Enter Price"><p id="productPricesVanilla2EditError" class="editError"></p></td>
							<td class="td2"></td>		
						</tr>
					
						<tr>
							<td class="td2"><div class="productCss" style="height: 20px;"><label class="flavorCake" for="productFlavors">Chocolate</label></div></td>							
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2"></td>
							
						</tr>
						
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss" style="height: 40px; line-height: 40px;"><label class="flavorCake" for="productSizes">6 x 5</label></div></td>							
							<td class="td2"></td>
							<td class="td2"><input class="input" type="number" name="productPricesChocolate1" placeholder="Enter Price"><p id="productPricesChocolate1EditError" class="editError"></p></td>						
							<td class="td2" colspan="2" style="text-align: center;"><div class="productCss"><input class="inputCheckboxD" type="checkbox" id="productDedication" name="productDedication" value="true">
							<span class="checkmark"></span><label class="flavorCake" for="allowDedication">Allow dedication</label></div></td>
						</tr>
						
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss" style="height: 40px; line-height: 40px;"><label class="flavorCake" for="productSizes">8 x 5</label></div></td>
							<td class="td2"></td>
							<td class="td2"><input class="input" type="number" name="productPricesChocolate2" placeholder="Enter Price"><p id="productPricesChocolate2EditError" class="editError"></p></td>
							<td class="td2" colspan="2"; style="text-align: center; padding-top: 10px;"><button type="button" class="Cancel" id="cancel">Cancel</button>	
							<a>&nbsp;&nbsp;&nbsp;</a><button type="button" class="Edit2" id="edit2">Save</button></td>
						</tr>	
						<input type="hidden" class="productID" name="productID">								
					</table>
				</form>
			</div>
		</div>
	</body>
	<script>
	// Checks if there are error messages to automatically open the modal.
	$( document ).ready(function() {
		var fields = [
			'productName', 
			'productPricesVanilla1', 
			'productPricesVanilla2', 
			'productPricesChocolate1', 
			'productPricesChocolate2',
			'productPricesNumberCake',
			'filename',
		]
		// Get the modal
		var modal = document.getElementsByClassName("modal")[0];
		var modals = document.getElementsByClassName("modals");
		// Get the button that opens the modal
		var btn = document.getElementById("add");
		var btn2 = document.getElementsByClassName("Edit");
		// Get the <span> element that closes the modal
		var cancel = document.getElementsByClassName("Cancel");
		var Close = document.getElementsByClassName("close");
		// When the user clicks the button, open the modal 
		btn.onclick = function() {
			modal.style.display = "block";
		}
			
		for(var i = 0; i < btn2.length; i++){
			btn2[i].onclick = function() {
				for (var index in modals) {
					if (typeof modals[index].style !== 'undefined') 
						modals[index].style.display = "block";    
				}
			}
		}
		// When the user clicks on <span> (x), close the modal
		cancel[0].onclick = function() {
				modal.style.display = "none";
			}
		
		for (var i = 1; i < cancel.length; i++) {
			cancel[i].onclick = function() {
				for (var index in modals) {
					if (typeof modals[index].style !== 'undefined') 
						modals[index].style.display = "none";    
				}
			}
		}
		
		Close[0].onclick = function() {
			modal.style.display = "none";
		}
		
		for (var i = 1; i < Close.length; i++) {
			Close[i].onclick = function() {
				for (var index in modals){
					if (typeof modals[index].style !== 'undefined') 
						modals[index].style.display = "none";   
				}
			}
		}
		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
			else{
				if (event.target.classList.contains('modals')) {
					for (var index in modals) {
						if (typeof modals[index].style !== 'undefined') 
							modals[index].style.display = "none";    
					}
				}
			}
		}
		// Modal of the add product (Initializes the modal)
		$('.AddA').click(function() {
			$('.addError').text('')
			var addModal = $('#cakeModal')
			addModal.find('.inputName').val('')
			addModal.find('.inputName').css('border-color', '#6F4E37')
			addModal.find('.inputName').css('margin-top', '0px')
			addModal.find(".input").val('');
			addModal.find('.input').css('border-color', '#6F4E37')
			addModal.find(".input").attr('placeholder', 'Enter Price');
			addModal.find('.input').css('margin-top', '0px')
			addModal.find("[name='productDedication']").prop('checked', false)
			addModal.find(".inputCheckbox").prop('checked', false)
			addModal.find(".inputCheckbox").trigger('change')
			addModal.find('.myFile').css('margin-top', '0px')
			addModal.find('.myFile').css('border-style', 'none')
			addModal.find('.myFile').val('')
			addModal.find('.previewPic').attr('src', '')
			addModal.find("#errorName").text('');
			addModal.find('#addl').prop('disabled', false)
			addModal.find('.inputNum').css('border-color', '#6F4E37')
			addModal.find(".inputNum").attr('placeholder', 'Enter Price');
			addModal.find('.inputNum').css('margin-top', '0px')
		})
		// Modal of the edit product (Shows the current information of the product)
		$('.Edit').click(function() {
			$('.editError').text('')
			var border = $(this).parents('.border')
			var editModal = $('#editcakeModal')
			editModal.find(".input").val(0)
			editModal.find(".input").css('border-color', '#6F4E37')
			editModal.find('.input').css('margin-top', '0px')
			editModal.find(".inputNum").val(0)
			editModal.find(".inputNum").css('border-color', '#6F4E37')
			editModal.find('.inputNum').css('margin-top', '0px')
			var productName = border.children('#displayProductName').text()
			var productType = window.location.pathname.split("/").pop()
			$.get('/getProductInfo', {name: productName, type: productType}, function(result) {
				editModal.find("[name='productName']").val(result.name)
				editModal.find(".productID").val(result._id)
				editModal.find(".inputName").css('border-color', '#6F4E37')
				editModal.find('.inputName').css('margin-top', '0px')
				editModal.find(".myFile").val('')
				editModal.find(".previewPic").attr('src', result.image)
				if (result.numberCake == false) {
					editModal.find("[name='productPricesVanilla1']").val(result.vanilla6x5Price)
					editModal.find("[name='productPricesVanilla2']").val(result.vanilla8x5Price)
					editModal.find("[name='productPricesChocolate1']").val(result.chocolate6x5Price)
					editModal.find("[name='productPricesChocolate2']").val(result.chocolate8x5Price)
					editModal.find("[name='productNumberCake']").prop('checked', false)
					if (result.dedication == true) {
						editModal.find("[name='productDedication']").prop('checked', true)
					} else {
						editModal.find("[name='productDedication']").prop('checked', false)
					}
				} else {
					editModal.find("[name='productNumberCake']").prop('checked', true)
					$('#editcakeModal .inputCheckbox').trigger('change')
					editModal.find("[name='productPricesNumberCake']").val(result.numberCakePrice)
				}
			})
		})
		// Displays a preview of an uploaded valid image product.
		$('.myFile').change(function(event) { 
			if(event.target.files.length > 0){
				var validImageTypes = ["image/jpg", "image/jpeg", "image/png"];
				var isValid = validImageTypes.includes(event.target.files[0].type)
				if (isValid) {
					var src = URL.createObjectURL(event.target.files[0]);
					$('.previewPic').attr('src', src)
				} else {
					$('.previewPic').attr('src', '')
					$(this).val('')
				}
			} else {
				$('.previewPic').attr('src', '')
				$(this).val('')
			}
		})
		// Checks if inputs are valid through communicating with the back-end, if valid then save the product.
		$('#addl').click(function() {
			var formData = new FormData(document.getElementById('addProductForm')); // All data of the input fields after clicking the add button.
			$.ajax({ // Calls back-end verification to check if the inputted values are valid
				type: "POST",
            	enctype: 'multipart/form-data',
           		url: "/addCake",
            	data: formData,
            	processData: false,
            	contentType: false,
            	cache: false,
            	timeout: 600000,
			}).done(function(result) {
			
				// Resets all the fields to remove the existing errors before checking again.
				fields.forEach(function(field) {
					if (field != 'filename') {
						$('#addProductForm').find(`[name='${field}']`).css('border-color', '#6F4E37')
					} else {
						$('#addProductForm').find(`[name='${field}']`).css('border-style', 'none')
					}
				})
				$('.addError').text('') // Remove all add Cake error messages from the display.
				var inputFieldErrors = result.errorFields // name of the input fields that have errors
				var errorMessages = result.messages // error messages of each field
				
				if (inputFieldErrors || errorMessages) { // Iterates all the errors and displays all the errors
					for (let i = 0; i < inputFieldErrors.length ; i++) {
						$('#addProductForm').find(`[name='${inputFieldErrors[i]}']`).css('border-color', 'red')
						$('#addProductForm').find(`[name='${inputFieldErrors[i]}']`).css('border-width', '2px')
						$('#addProductForm').find(`[name='${inputFieldErrors[i]}']`).css('border-style', 'solid')
						$('#addProductForm').find(`[name='${inputFieldErrors[i]}']`).css('margin-top', '20px')
						$(`#${inputFieldErrors[i]}AddError`).text(errorMessages[i]) // Ganito ginawa ko para malagay yung errors sa mga <p></p>
					}
				} else { // If there are no errors the page will reload to show the new products.
					$(this).prop('disabled', true)
					window.location.reload()
				}
			}).fail(function(error) {
				console.log("ERROR : ", error);
			})
		})
		// Checks if inputs are valid through communicating with the back-end, if valid then edit the product.
		$('#edit2').click(function() {
			var formData = new FormData(document.getElementById('editProductForm'));
			$.ajax({
				type: "POST",
            	enctype: 'multipart/form-data',
           		url: "/editCake",
            	data: formData,
            	processData: false,
            	contentType: false,
            	cache: false,
            	timeout: 600000,
			}).done(function(result) {
				// Resets all the fields to remove the existing errors before checking again.
				fields.forEach(function(field) {
					if (field != 'filename') {
						$('#editProductForm').find(`[name='${field}']`).css('border-color', '#6F4E37')
					} else {
						$('#editProductForm').find(`[name='${field}']`).css('border-style', 'none')
					}
				})
				$('.editError').text('') // Removes all add Cake error messages from the display.
				var inputFieldErrors = result.errorFields // name of the input fields that have errors
				var errorMessages = result.messages // error messages of each field
				if (inputFieldErrors || errorMessages) { // Iterates all the errors and displays all the errors
					for (let i = 0; i < inputFieldErrors.length ; i++) {
						$('#editProductForm').find(`[name='${inputFieldErrors[i]}']`).css('border-color', 'red')
						$('#editProductForm').find(`[name='${inputFieldErrors[i]}']`).css('border-width', '2px')
						$('#editProductForm').find(`[name='${inputFieldErrors[i]}']`).css('border-style', 'solid')
						$('#editProductForm').find(`[name='${inputFieldErrors[i]}']`).css('margin-top', '20px')
						$(`#${inputFieldErrors[i]}EditError`).text(errorMessages[i])
					}
				} else {
					$(this).prop('disabled', true)
					window.location.reload()
				}
			}).fail(function(error) {
				console.log("ERROR : ", error);
			})
		})
		
		// Remove a product from the view and call the delete function from the controller
		$('.Remove').click(function() {
			if (confirm('Are you sure you want to delete the product?') == true) {
				var border = $(this).parents('.border')
				var productName = border.children('#displayProductName').text()
				var productType = window.location.pathname.split("/").pop()
				var productImage = border.find('img').attr('src')
				border.empty()
				border.remove()
				var numberofProducts = $('.border').length
				$.get('/deleteProduct', {name: productName, image: productImage, type: productType}, function(result) {
					console.log(result)
					if (numberofProducts == 0) {
						const params = new Proxy(new URLSearchParams(window.location.search), {
  							get: (searchParams, prop) => searchParams.get(prop),
						});
						let value = params.pageNumber; 
						window.location.assign( '/Admin/' + productType + '?pageNumber=' + (value - 1))
					} else {
						window.location.reload()
					}
				})
			}
			
		})
		// Hide textboxes from add product modal that are not needed for a certain type of product 
		$('#cakeModal .inputCheckbox').change(function() {
			if ($(this).is(":checked") == true) {
				$(".input").val(0)
				$(".input").hide()
				$(".inputCheckboxD").hide()
				$(".flavorCake").hide()
				$('.inputNum').val('')
				$(".inputNum").attr('placeholder', 'Enter Price');
				$('.inputNum').css('border-color', '#6F4E37')
				$('.inputNum').css('margin-top', '0px')
				$(".inputNum").show()
				$(".numberCake").show()
			} else {
				$(".input").val('')
				$(".input").attr('placeholder', 'Enter Price');
				$('.input').css('border-color', '#6F4E37')
				$('.input').css('margin-top', '0px')
				$(".input").show()
				$(".inputCheckboxD").prop('checked', false)
				$(".inputCheckboxD").show()
				$(".flavorCake").show()
				$(".inputNum").val(0)
				$(".inputNum").hide()
				$(".numberCake").hide()
			}
		})
		// Hide textboxes from edit product modal that are not needed for a certain type of product 
		$('#editcakeModal .inputCheckbox').change(function() {
			if ($(this).is(":checked") == true) {
				$(".input").hide()
				$(".inputCheckboxD").hide()
				$(".flavorCake").hide()
				$('.inputNum').css('border-color', '#6F4E37')
				$('.inputNum').css('margin-top', '0px')
				$(".inputNum").show()
				$(".numberCake").show()
			} else {
				$('.input').css('border-color', '#6F4E37')
				$('.input').css('margin-top', '0px')
				$(".input").show()
				$(".inputCheckboxD").prop('checked', false)
				$(".inputCheckboxD").show()
				$(".flavorCake").show()
				$(".inputNum").hide()
				$(".numberCake").hide()
			}
		})
	});
	
	</script>
</html>
