<!DOCTYPE html>
<html>

	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Cookies</title>
        <link href="/css/productsPage.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>

	<body class="mainBackground">
		<div class="header">
			<div class="logo">
				<img src="/images/logo.png" placeholder="G-Cakes Logo" alt="G-Cakes Logo" >
            </div>
		
			<div class="menu">
				<a href="/admin/Cake"><button class="menuBtn">CAKES</button></a>
				<a href="/admin/Cupcake"><button class="menuBtn">CUPCAKES</button></a>
				<button class="menuBtn" style="font-weight:bold;">DECORATED COOKIES</button>
				<a href="/admin/About"><button class="menuBtn">ABOUT</button></a>
				<a href="/admin/orders/all"><button class="menuBtn">ORDERS</button></a>
			</div>
		</div>
		
		<div class="productBox">
			<div class="buttonHolder">	
				<button type="submit" class="AddC" id="add">Add Cookie</button>
			</div>
			<form action="/addCookie" class="productForm" method="Post" enctype="multipart/form-data">
				<table class="table1">
					<tr>
						<th class="th1">Picture</th>
						<th class="th1">Name</th>
						<th class="th1">Flavor</th>
						<th class="th1">Size</th>
						<th class="th1">Price</th>
					</tr>
					<% cookies.forEach(function(cookies) { %>
					<tr class="border">
						<td class="td1"><img src="<%= cookies.image %>" placeholder="<%= cookies.name %>" alt="<%= cookies.name %>"></td>
						<td id="displayProductName" class="td1"><%= cookies.name %></td>
						<td class="td1">Butter Cookies</td>
						<td class="td1">One Dozen</td>
						<td class="td1"><%= cookies.price %></td>
						<td class="td1"><button type="button" class="Edit" id="edit">edit</button><br><br><button type="button" class="Remove" id="remove">remove</button></td>
					</tr>
					<% }) %>
				</table>
				<br>
				<div class="paginationHolder">	
					<div class="pagination">
						<button type="button" class="pageBtn" id="pagebtn"><a>&laquo;</a></button>
						<button type="button" class="pageBtn" id="pagebtn"><a>1</a></button>
						<button type="button" class="pageBtn" id="pagebtn"><a>2</a></button>
						<button type="button" class="pageBtn" id="pagebtn"><a>3</a></button>
						<button type="button" class="pageBtn" id="pagebtn"><a>4</a></button>
						<button type="button" class="pageBtn" id="pagebtn"><a>5</a></button>
						<button type="button" class="pageBtn" id="pagebtn"><a>6</a></button>
						<button type="button" class="pageBtn" id="pagebtn"><a>&raquo;</a></button>
					</div>
				</div>		
			</form>	
		</div>
		<div id="cookieModal" class="modal">
		<!-- Modal content -->
			<div class="modal-content-cookie" style="background-color: #EBD8DB;">
				<span class="close"></span>
				<div class="addProductHeader">
					<h1>ADD COOKIE</h1>
				</div>
				<%- include("partials/messages") %>
				<h2><strong id="errorName"></strong></h2>
				<form action="/addCookie" class="addProductForm" method="Post" enctype="multipart/form-data">
					<table class="table2">
						<tr>
							<td class="td2" style="width: 22%;"><div class="productCss"><label for="productName">Cake Name:</label></div></td>	
							<td class="td2" style="width: 3%;"></td>
							<td class="td2" style="width: 25%;"><input class="input" type="text" id="productName" name="productName"></td>
							<td class="td2" style="text-align: center; width: 17%;"><div class="productCss"><label for="productPictures">Image:</label></div></td>								
							<td class="td2"><input type="file" id="myFile" name="filename" ></td>
						</tr>
					
						<tr>
							<td class="td2"><div class="productCss"><label for="productFlavors">Butter Cookie</label></div></td>
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2"></td>								
							<td class="td2"></td>
						</tr>
					
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss"><label for="productSizes">One Dozen</label></div></td>
							<td class="td2"></td>								
							<td class="td2"><input class="input" type="number" id="productPrices" name="productPrices"></td>
							<td class="td2"></td>								
							<td class="td2" style="text-align: center;"><button class="Add" id="addl">Add</button></td>					
						</tr>
						
						<tr>
							<td class="td2"></td>								
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2" style="text-align: center; padding-top: 10px;"><button class="Cancel" id="cancel">Cancel</button></td>									
						</tr>
					</table>
				</form>
			</div>
		</div>
	</body>
	<script>
		$( document ).ready(function() {
			var errors = '<%= error_msg %>';
			console.log(errors)
			if(errors.length > 0) {
				$('#cookieModal').css('display', 'block')
			}	
		});
		// Get the modal
		var modal = document.getElementById("cookieModal");

		// Get the button that opens the modal
		var btn = document.getElementById("add");

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks the button, open the modal 
		btn.onclick = function() {
			modal.style.display = "block";
		}

		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
			modal.style.display = "none";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}

		$('#productName').blur(function () {
			var productName = $(this).val()
			var productType = window.location.pathname.split("/").pop()
			$.get('/getProductInfo', {name: productName, type: productType}, function(result) {
				if (result) {
					$('#productName').css('background-color', 'red')
					$('#errorName').text('Cookie is already available!')
					$('#errorName').css('color', 'red')
					$('#addl').prop('disabled', true)
				} else {
					$('#productName').css('background-color', 'white')
					$('#errorName').text('')
					$('#addl').prop('disabled', false)
				}
			})
		})
		
		// Remove a product from the view and call the delete function from the controller
		$('.Remove').click(function() {
			if (confirm('Are you sure you want to delete the product?') == true) {
				var border = $(this).parents('.border')
				var productName = border.children('#displayProductName').text()
				var productType = window.location.pathname.split("/").pop()
				var productImage = border.find('img').attr('src')
				border.empty()
				border.remove()
				$.get('/deleteProduct', {name: productName, image: productImage, type: productType}, function(result) {
					alert(result)
				})
			}
		})
	</script>
</html>	