<!DOCTYPE html>
<html>

	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Cupcakes</title>
        <link href="/css/productsPage.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>

	<body class="mainBackground">
		<div class="header">
			<div class="logo">
                <a href="/"><img src="/images/logo.png" placeholder="G-Cakes Logo" alt="G-Cakes Logo" ></a>
            </div>
			
			<div class="menu">
				<a href="/admin/cake"><button class="menuBtn">CAKES</button></a>
				<button class="menuBtn" style="background-color:#DF7E85;">CUPCAKES</button>
				<a href="/admin/cookie"><button class="menuBtn">DECORATED COOKIES</button></a>
				<a href="/admin/about/view"><button class="menuBtn">ABOUT</button></a>
				<a href="/admin/orders/all"><button class="menuBtn">ORDERS</button></a>
				<a href="/logout"><button class="logoutBtn">LOGOUT</button></a>
			</div>
		</div>
		
		<div class="productBox">
			<div class="buttonHolder">	
				<button type="submit" class="AddB" id="add">Add Cupcake</button>
			</div>
				<form action="/addCupcake" class="productForm" method="Post" enctype="multipart/form-data">
					<table class="table1">
						<tr>
							<th class="th1">Picture</th>
							<th class="th1">Name</th>
							<th class="th1">Flavor</th>
							<th class="th1">Size</th>
							<th class="th1">Frosting</th>
							<th class="th1">Price</th>
						</tr>
						<% cupcakes.forEach(function(cupcakes) { %>
						<tr class="border">
							<td class="td1"><img src="<%= cupcakes.image %>"></td>
							<td id="displayProductName" class="td1"><%= cupcakes.name %></td>
							<td class="td1">Vanilla<br><br>Chocolate<br><br>Red Velvet</td>
							<td class="td1">One Dozen<br><br>One Dozen<br><br>One Dozen</td>
							<td class="td1">Fondant<br>Icing<br>Fondant<br>Icing<br>Fondant<br>Icing</td>
							<td class="td1">&#8369;<%= cupcakes.vanillaFondantPrice %><br>&#8369;<%= cupcakes.vanillaIcingPrice %><br>&#8369;<%= cupcakes.chocolateFondantPrice %><br>&#8369;<%= cupcakes.chocolateIcingPrice %><br>&#8369;<%= cupcakes.redvelvetFondantPrice %><br>&#8369;<%= cupcakes.redvelvetIcingPrice %><br></td>
							<td class="td1"><button type="button" class="Edit" id="edit">edit</button><br><br><button type="button" class="Remove" id="remove">remove</button></td>
						</tr>
						<% }) %>
					</table>
					<br>
					<div class="paginationHolder">	
						<div class="pagination">
							<% if (currentPage > 1) { %>
								<button type="button" class="pageBtn" id="previousPageBtn"><a href="/admin/cupcake?pagenumber=<%= parseInt(currentPage) - 1 %>">&laquo;</a></button>
							<% } else { %>
								<button type="button" class="pageBtn" id="previousPageBtn"><a>&laquo;</a></button>
							<% } %>
	
							<% if (numberofPages <= 7) { %>
								<% for (let i = 1; i <= numberofPages; i++) { %>
									<% if (currentPage == i) { %>
										<button type="button" class="pageBtn pageBtnValue"><a><strong><%= currentPage %></strong></a></button>
									<% } else { %>
										<button type="button" class="pageBtn pageBtnValue"><a href="/admin/cupcake?pagenumber=<%= i %>"><%= i %></a></button>
									<% } %>
								<% } %>
							<% } else { %>
								<% if (currentPage == 1) { %>
									<button type="button" class="pageBtn pageBtnValue"><a><strong><%= 1 %></strong></a></button>
								<% } else { %>
									<button type="button" class="pageBtn pageBtnValue"><a href="/admin/cupcake?pagenumber=1"><%= 1 %></a></button>
								<% } %>
								<% if (currentPage <= 2) { %>
									<% if(currentPage == 2) { %>
										<button type="button" class="pageBtn pageBtnValue"><a><strong><%= currentPage %></strong></a></button>
									<% } %>
									<button type="button" class="pageBtn pageBtnValue"><a href="/admin/cupcake?pagenumber=<%= parseInt(currentPage) + 1  %>"><%= parseInt(currentPage) + 1 %></a></button>
									<button type="button" class="pageBtn pageBtnValue"><a href="/admin/cupcake?pagenumber=<%= parseInt(currentPage) + 2 %>"><%= parseInt(currentPage) + 2 %></a></button>
									<% if(currentPage == 1) { %>
										<button type="button" class="pageBtn pageBtnValue"><a href="/admin/cupcake?pagenumber=<%= parseInt(currentPage) + 2 %>"><%= parseInt(currentPage) + 3 %></a></button>
									<% } %>
									<button type="button" class="pageBtn pageBtnValue"><a>...</a></button>
								<% } else if (parseInt(currentPage) + 1 == numberofPages || currentPage == numberofPages) { %>
									<button type="button" class="pageBtn pageBtnValue"><a>...</a></button>
									<% if(currentPage == numberofPages) { %>
										<button type="button" class="pageBtn pageBtnValue"><a href="/admin/cupcake?pagenumber=<%= parseInt(currentPage) - 3 %>"><%= parseInt(currentPage) - 3 %></a></button>
									<% } %>
									<button type="button" class="pageBtn pageBtnValue"><a href="/admin/cupcake?pagenumber=<%= parseInt(currentPage) - 2  %>"><%= parseInt(currentPage) - 2 %></a></button>
									<button type="button" class="pageBtn pageBtnValue"><a href="/admin/cupcake?pagenumber=<%= parseInt(currentPage) - 1 %>"><%= parseInt(currentPage) - 1 %></a></button>
									<% if(parseInt(currentPage) + 1 == numberofPages) { %>
										<button type="button" class="pageBtn pageBtnValue"><a><strong><%= currentPage %></strong></a></button>
									<% } %>
								<% } else if (currentPage > 2) { %>
									<% if (currentPage > 3) { %>
										<button type="button" class="pageBtn pageBtnValue"><a>...</a></button>
									<% } %>
									<button type="button" class="pageBtn pageBtnValue"><a href="/admin/cupcake?pagenumber=<%= parseInt(currentPage) - 1 %>"><%= parseInt(currentPage) - 1 %></a></button>
									<button type="button" class="pageBtn pageBtnValue"><a><strong><%= currentPage %></strong></a></button>
									<button type="button" class="pageBtn pageBtnValue"><a href="/admin/cupcake?pagenumber=<%= parseInt(currentPage) + 1  %>"><%= parseInt(currentPage) + 1 %></a></button>
									<% if (parseInt(currentPage) + 2 != numberofPages) { %>
										<button type="button" class="pageBtn pageBtnValue"><a>...</a></button>
									<% } %>
								<% } %>
								<% if (currentPage == numberofPages) { %>
									<button type="button" class="pageBtn pageBtnValue"><a><strong><%= currentPage %></strong></a></button>
								<% } else { %>
									<button type="button" class="pageBtn pageBtnValue"><a href="/admin/cupcake?pagenumber=<%= numberofPages %>"><%= numberofPages %></a></button>
								<% } %>
							<% } %>
	
							<% if (currentPage < numberofPages) { %>
								<button type="button" class="pageBtn" id="nextPageBtn"><a href="/admin/cupcake?pagenumber=<%= parseInt(currentPage) + 1 %>">&raquo;</a></button>
							<% } else { %>
								<button type="button" class="pageBtn" id="nextPageBtn"><a>&raquo;</a></button>
							<% } %>
						</div>
					</div>		
				</form>	
		</div>
		<div id="cupcakeModal" class="modal">
		<!-- Modal content -->
			<div class="modal-content-cupcake" style="background-color: #EBD8DB;">
				<span class="close">&times;</span>
				<div class="addProductHeader">
					<h1>ADD CUPCAKE</h1>
				</div>
				<%- include("partials/messages") %>
		
				<form id="addProductForm" class="addProductForm" method="Post" enctype="multipart/form-data">
					<table class="table2">
						<tr>
							<td class="td2" style="width: 19%;"><div class="productCss"><label for="productName">Cupcake Name:</label></div></td>	
							<td class="td2" style="width: 3%;"></td>
							<td class="td2" style="width: 33%;"><input class="inputName" type="text" id="productName" name="productName" placeholder="Enter Name"><p id="productNameAddError" class="addError"></p></td>
							<td class="td2" style="text-align: center; width: 13%;"><div class="productCss"><label for="productPictures">Image:</label></div></td>		
							<td class="td2" style="width: 3%;"></td>
							<td class="td2"><input type="file" class="myFile" name="filename" ><p id="filenameAddError" class="addError"></p></td>
						</tr>
					
						<tr>
							<td class="td2"><div class="productCss" style="height: 20px; line-height: 20px;"><label for="productFlavors">Vanilla</label></div></td>
							<td class="td2"></td>
							<td class="td2"></td>	
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2" rowspan="8"><img class="previewPic"></td>
						</tr>
					
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss" style="height: 30px; line-height: 30px;"><label for="productSizes">Fondant</label></div></td>
							<td class="td2"></td>								
							<td class="td2"><input class="input" type="number" id="productPrices" name="productPricesVanilla1" placeholder="Enter Price per Dozen" ><p id="productPricesVanilla1AddError" class="addError"></p></td>
							<td class="td2"></td>
							<td class="td2"></td>
						</tr>	
						
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss" style="height: 30px; line-height: 30px;"><label for="productSizes">Icing</label></div></td>
							<td class="td2"></td>								
							<td class="td2"><input class="input" type="number" id="productPrices" name="productPricesVanilla2" placeholder="Enter Price per Dozen" ><p id="productPricesVanilla2AddError" class="addError"></p></td>
							<td class="td2"></td>
							<td class="td2"></td>
						</tr>							
					
						<tr>
							<td class="td2"><div class="productCss" style="height: 20px; line-height: 20px;"><label for="productFlavors">Chocolate</label></div></td>								
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2"></td>
						</tr>
						
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss" style="height: 30px; line-height: 30px;"><label for="productSizes">Fondant</label></div></td>								
							<td class="td2"></td>
							<td class="td2"><input class="input" type="number" id="productPrices" name="productPricesChocolate1" placeholder="Enter Price per Dozen" ><p id="productPricesChocolate1AddError" class="addError"></p></td>
							<td class="td2"></td>								
							<td class="td2"></td>
						</tr>
						
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss" style="height: 30px; line-height: 30px;"><label for="productSizes">Icing</label></div></td>								
							<td class="td2"></td>
							<td class="td2"><input class="input" type="number" id="productPrices" name="productPricesChocolate2" placeholder="Enter Price per Dozen" ><p id="productPricesChocolate2AddError" class="addError"></p></td>
							<td class="td2"></td>
							<td class="td2"></td>
							
						</tr>
						
						<tr>
							<td class="td2"><div class="productCss" style="height: 20px; line-height: 20px;"><label for="productFlavors">Red Velvet</label></div></td>
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2"></td>
							
						</tr>
						
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss" style="height: 30px; line-height: 30px;"><label for="productSizes">Fondant</label></div></td>
							<td class="td2"></td>								
							<td class="td2"><input class="input" type="number" id="productPrices" name="productPricesRedVelvet1" placeholder="Enter Price per Dozen" ><p id="productPricesRedVelvet1AddError" class="addError"></p></td>
							<td class="td2"></td>
							<td class="td2"></td>
							
						</tr>
						
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss" style="height: 30px; line-height: 30px;"><label for="productSizes">Icing</label></div></td>								
							<td class="td2"></td>
							<td class="td2"><input class="input" type="number" id="productPrices" name="productPricesRedVelvet2" placeholder="Enter Price per Dozen" ><p id="productPricesRedVelvet2AddError" class="addError"></p></td>
							<td class="td2"></td>
							<td class="td2" colspan="2"; style="text-align: center; padding-top: 10px;"><button type="button" class="Cancel" id="cancel">Cancel</button>	
							<a>&nbsp;&nbsp;&nbsp;</a><button type="button" class="Add" id="addl">Add</button></td>
						</tr>

					</table>
				</form>
			</div>
		</div>
		<div id="editcupcakeModal" class="modal modals">
		<!-- Modal content -->
			<div class="modal-content-cupcake" style="background-color: #EBD8DB;">
				<span class="close">&times;</span>
					<div class="editProductHeader">
						<h1>EDIT CUPCAKE</h1>
					</div>
				
					<form id="editProductForm" class="editProductForm" method="Post" enctype="multipart/form-data">
						<table class="table2">
							<tr>
								<td class="td2" style="width: 19%;"><div class="productCss"><label for="productName">Cupcake Name:</label></div></td>	
								<td class="td2" style="width: 3%;"></td>
								<td class="td2" style="width: 33%;"><input class="inputName" type="text" id="productName" name="productName" placeholder="Enter Name"><p id="productNameEditError" class="editError"></p></td>
								<td class="td2" style="text-align: center; width: 13%;"><div class="productCss"><label for="productPictures">Image:</label></div></td>		
								<td class="td2" style="width: 3%;"></td>
								<td class="td2"><input type="file" class="myFile" name="filename" ><p id="filenameEditError" class="editError"></p></td>
							</tr>
						
							<tr>
								<td class="td2"><div class="productCss" style="height: 20px; line-height: 20px;"><label for="productFlavors">Vanilla</label></div></td>
								<td class="td2"></td>
								<td class="td2"></td>	
								<td class="td2"></td>
								<td class="td2"></td>
								<td class="td2" rowspan="8"><img class="previewPic"></td>
							</tr>
						
							<tr>
								<td class="td2" style="text-align: right;"><div class="productCss" style="height: 30px; line-height: 30px;"><label for="productSizes">Fondant</label></div></td>
								<td class="td2"></td>								
								<td class="td2"><input class="input" type="number" id="productPrices" name="productPricesVanilla1" placeholder="Enter Price per Dozen" ><p id="productPricesVanilla1EditError" class="editError"></p></td>
								<td class="td2"></td>
								<td class="td2"></td>
							</tr>	
							
							<tr>
								<td class="td2" style="text-align: right;"><div class="productCss" style="height: 30px; line-height: 30px;"><label for="productSizes">Icing</label></div></td>
								<td class="td2"></td>								
								<td class="td2"><input class="input" type="number" id="productPrices" name="productPricesVanilla2" placeholder="Enter Price per Dozen" ><p id="productPricesVanilla2EditError" class="editError"></p></td>
								<td class="td2"></td>
								<td class="td2"></td>
							</tr>							
						
							<tr>
								<td class="td2"><div class="productCss" style="height: 20px; line-height: 20px;"><label for="productFlavors">Chocolate</label></div></td>								
								<td class="td2"></td>
								<td class="td2"></td>
								<td class="td2"></td>
								<td class="td2"></td>
							</tr>
							
							<tr>
								<td class="td2" style="text-align: right;"><div class="productCss" style="height: 30px; line-height: 30px;"><label for="productSizes">Fondant</label></div></td>								
								<td class="td2"></td>
								<td class="td2"><input class="input" type="number" id="productPrices" name="productPricesChocolate1" placeholder="Enter Price per Dozen" ><p id="productPricesChocolate1EditError" class="editError"></p></td>
								<td class="td2"></td>								
								<td class="td2"></td>
							</tr>
							
							<tr>
								<td class="td2" style="text-align: right;"><div class="productCss" style="height: 30px; line-height: 30px;"><label for="productSizes">Icing</label></div></td>								
								<td class="td2"></td>
								<td class="td2"><input class="input" type="number" id="productPrices" name="productPricesChocolate2" placeholder="Enter Price per Dozen" ><p id="productPricesChocolate2EditError" class="editError"></p></td>
								<td class="td2"></td>
								<td class="td2"></td>
								
							</tr>
							
							<tr>
								<td class="td2"><div class="productCss" style="height: 20px; line-height: 20px;"><label for="productFlavors">Red Velvet</label></div></td>
								<td class="td2"></td>
								<td class="td2"></td>
								<td class="td2"></td>
								<td class="td2"></td>
								
							</tr>
							
							<tr>
								<td class="td2" style="text-align: right;"><div class="productCss" style="height: 30px; line-height: 30px;"><label for="productSizes">Fondant</label></div></td>
								<td class="td2"></td>								
								<td class="td2"><input class="input" type="number" id="productPrices" name="productPricesRedVelvet1" placeholder="Enter Price per Dozen" ><p id="productPricesRedVelvet1EditError" class="editError"></p></td>
								<td class="td2"></td>
								<td class="td2"></td>
								
							</tr>
							
							<tr>
								<td class="td2" style="text-align: right;"><div class="productCss" style="height: 30px; line-height: 30px;"><label for="productSizes">Icing</label></div></td>								
								<td class="td2"></td>
								<td class="td2"><input class="input" type="number" id="productPrices" name="productPricesRedVelvet2" placeholder="Enter Price per Dozen" ><p id="productPricesRedVelvet2EditError" class="editError"></p></td>
								<td class="td2"></td>
								<td class="td2" colspan="2"; style="text-align: center; padding-top: 10px;"><button type="button" class="Cancel" id="cancel">Cancel</button>	
								<a>&nbsp;&nbsp;&nbsp;</a><button type="button" class="Edit2" id="edit2">Save</button></td>
							</tr>
							<input type="hidden" class="productID" name="productID">
						</table>
					</form>
			</div>
		</div>
	</body>
	<script>
		// Checks if there are error messages to automatically open the modal.
		$( document ).ready(function() {
			var fields = [
				'productName', 
				'productPricesVanilla1', 
				'productPricesVanilla2', 
				'productPricesChocolate1', 
				'productPricesChocolate2',
				'productPricesRedVelvet1',
				'productPricesRedVelvet2',
				'filename',
			]	

			// Get the modal
			var modal = document.getElementsByClassName("modal")[0];
			var modals = document.getElementsByClassName("modals");
			// Get the button that opens the modal
			var btn = document.getElementById("add");
			var btn2 = document.getElementsByClassName("Edit");
			// Get the <span> element that closes the modal
			var cancel = document.getElementsByClassName("Cancel");
			var Close = document.getElementsByClassName("close");
			// When the user clicks the button, open the modal 
			btn.onclick = function() {
				modal.style.display = "block";
			}
				
			for(var i = 0; i < btn2.length; i++){
				btn2[i].onclick = function() {
					for (var index in modals) {
						if (typeof modals[index].style !== 'undefined') 
							modals[index].style.display = "block";    
					}
				}
			}
			// When the user clicks on <span> (x), close the modal
			cancel[0].onclick = function() {
					modal.style.display = "none";
				}
			
			for (var i = 1; i < cancel.length; i++) {
				cancel[i].onclick = function() {
					for (var index in modals) {
						if (typeof modals[index].style !== 'undefined') 
							modals[index].style.display = "none";    
					}
				}
			}
			
			Close[0].onclick = function() {
				modal.style.display = "none";
			}
		
			for (var i = 1; i < Close.length; i++) {
				Close[i].onclick = function() {
					for (var index in modals){
						if (typeof modals[index].style !== 'undefined') 
							modals[index].style.display = "none";   
					}
				}
			}
			
			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
				else{
					if (event.target.classList.contains('modals')) {
						for (var index in modals) {
							if (typeof modals[index].style !== 'undefined') 
								modals[index].style.display = "none";    
						}
					}
				}
			}

			// Modal of the add product (Initializes the modal)
			$('.AddB').click(function() {
				$('.addError').text('')
				var addModal = $('#cupcakeModal')
				addModal.find('.inputName').val('')
				addModal.find('.inputName').css('border-color', '#6F4E37')
				addModal.find('.inputName').css('margin-top', '0px')
				addModal.find(".input").val('');
				addModal.find('.input').css('border-color', '#6F4E37')
				addModal.find(".input").attr('placeholder', 'Enter Price');
				addModal.find('.input').css('margin-top', '0px')
				addModal.find('.myFile').css('margin-top', '0px')
				addModal.find('.myFile').css('border-style', 'none')
				addModal.find('.myFile').val('')
				addModal.find('.previewPic').attr('src', '')
				addModal.find("#errorName").text('');
				addModal.find('#addl').prop('disabled', false)
			})

			// Modal of the edit product (Shows the current information of the product)
			$('.Edit').click(function() {
				$('.editError').text('')
				var border = $(this).parents('.border')
				var editModal = $('#editcupcakeModal')
				editModal.find(".input").val(0)
				editModal.find(".input").css('border-color', '#6F4E37')
				editModal.find('.input').css('margin-top', '0px')
				var productName = border.children('#displayProductName').text()
				var productType = window.location.pathname.split("/").pop()
				// Uses ajax to retrieve the clicked product's information for the edit modal
				$.get('/getProductInfo', {name: productName, type: productType}, function(result) {
					editModal.find("[name='productName']").val(result.name)
					editModal.find(".productID").val(result._id)
					editModal.find('.inputName').css('margin-top', '0px')
					editModal.find(".myFile").val('')
					editModal.find(".previewPic").attr('src', result.image)
					editModal.find("[name='productPricesVanilla1']").val(result.vanillaFondantPrice)
					editModal.find("[name='productPricesVanilla2']").val(result.vanillaIcingPrice)
					editModal.find("[name='productPricesChocolate1']").val(result.chocolateFondantPrice)
					editModal.find("[name='productPricesChocolate2']").val(result.chocolateIcingPrice)
					editModal.find("[name='productPricesRedVelvet1']").val(result.redvelvetFondantPrice)
					editModal.find("[name='productPricesRedVelvet2']").val(result.redvelvetIcingPrice)
				})
			})

			// Displays a preview of an uploaded valid image product.
			$('.myFile').change(function(event) { 
				if(event.target.files.length > 0){
					var validImageTypes = ["image/jpg", "image/jpeg", "image/png"];
					var isValid = validImageTypes.includes(event.target.files[0].type)
					if (isValid) {
						var src = URL.createObjectURL(event.target.files[0]);
						$('.previewPic').attr('src', src)
					} else {
						$('.previewPic').attr('src', '')
						$(this).val('')
					}
				} else {
					$('.previewPic').attr('src', '')
					$(this).val('')
				}
			})

			$('#addl').click(function() {
				var formData = new FormData(document.getElementById('addProductForm')); // All data of the input fields after clicking the add button.

				$.ajax({ // Calls back-end verification to check if the inputted values are valid
					type: "POST",
					enctype: 'multipart/form-data',
					url: "/addCupcake",
					data: formData,
					processData: false,
					contentType: false,
					cache: false,
					timeout: 600000,
				}).done(function(result) {

					// Resets all the fields to remove the existing errors before checking again.
					fields.forEach(function(field) {
						if (field != 'filename') {
							$('#addProductForm').find(`[name='${field}']`).css('border-color', '#6F4E37')
						} else {
							$('#addProductForm').find(`[name='${field}']`).css('border-style', 'none')
						}
					})
					$('.addError').text('') // Remove all add Cupcake error messages from the display.

					var inputFieldErrors = result.errorFields // name of the input fields that have errors
					var errorMessages = result.messages // error messages of each field

					
					if (inputFieldErrors || errorMessages) { // Iterates all the errors and displays all the errors
						for (let i = 0; i < inputFieldErrors.length ; i++) {
							$('#addProductForm').find(`[name='${inputFieldErrors[i]}']`).css('border-color', 'red')
							$('#addProductForm').find(`[name='${inputFieldErrors[i]}']`).css('border-width', '2px')
							$('#addProductForm').find(`[name='${inputFieldErrors[i]}']`).css('border-style', 'solid')
							$(`#${inputFieldErrors[i]}AddError`).text(errorMessages[i]) // Ganito ginawa ko para malagay yung errors sa mga <p></p>
							$('#addProductForm').find(`[name='${inputFieldErrors[i]}']`).css('margin-top', '20px')
						}
					} else { // If there are no errors the page will reload to show the new products.
						$(this).prop('disabled', true)
						window.location.reload()
					}
				}).fail(function(error) {
					console.log("ERROR : ", error);
				})
			})

			// Checks if inputs are valid through communicating with the back-end, if valid then edit the product.
			$('#edit2').click(function() {
				var formData = new FormData(document.getElementById('editProductForm'));
				$.ajax({
					type: "POST",
					enctype: 'multipart/form-data',
					url: "/editCupcake",
					data: formData,
					processData: false,
					contentType: false,
					cache: false,
					timeout: 600000,
				}).done(function(result) {

					// Resets all the fields to remove the existing errors before checking again.
					fields.forEach(function(field) {
						if (field != 'filename') {
							$('#editProductForm').find(`[name='${field}']`).css('border-color', '#6F4E37')
						} else {
							$('#editProductForm').find(`[name='${field}']`).css('border-style', 'none')
						}
					})
					$('.editError').text('') // Removes all add Cake error messages from the display.

					var inputFieldErrors = result.errorFields // name of the input fields that have errors
					var errorMessages = result.messages // error messages of each field

					if (inputFieldErrors || errorMessages) { // Iterates all the errors and displays all the errors
						for (let i = 0; i < inputFieldErrors.length ; i++) {
							$('#editProductForm').find(`[name='${inputFieldErrors[i]}']`).css('border-color', 'red')
							$('#editProductForm').find(`[name='${inputFieldErrors[i]}']`).css('border-width', '2px')
							$('#editProductForm').find(`[name='${inputFieldErrors[i]}']`).css('border-style', 'solid')
							$('#editProductForm').find(`[name='${inputFieldErrors[i]}']`).css('margin-top', '20px')
							$(`#${inputFieldErrors[i]}EditError`).text(errorMessages[i])
						}
					} else {
						$(this).prop('disabled', true)
						window.location.reload()
					}
				}).fail(function(error) {
					console.log("ERROR : ", error);
				})
			})

			// Remove a product from the view and call the delete function from the controller
			$('.Remove').click(function() {
				if (confirm('Are you sure you want to delete the product?') == true) {
					var border = $(this).parents('.border')
					var productName = border.children('#displayProductName').text()
					var productType = window.location.pathname.split("/").pop()
					var productImage = border.find('img').attr('src')
					border.empty()
					border.remove()
					var numberofProducts = $('.border').length
					$.get('/deleteProduct', {name: productName, image: productImage, type: productType}, function(result) {
						console.log(result)
						if (numberofProducts == 0) {
							const params = new Proxy(new URLSearchParams(window.location.search), {
								get: (searchParams, prop) => searchParams.get(prop),
							});
							let value = params.pagenumber; 
							if (typeof value === 'undefined' || parseInt(value) < 1) {
								value = 1
							}
							window.location.assign( '/admin/' + productType + '?pagenumber=' + (value - 1))
						} else {
							window.location.reload()
						}
					})
				}
			})
		});	
	</script>
</html>	
