<!DOCTYPE html>
<html>

	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Cupcakes</title>
        <link href="/css/productsPage.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>

	<body class="mainBackground">
		<div class="header">
			<div class="logo">
                <img src="/images/logo.png" placeholder="G-Cakes Logo" alt="G-Cakes Logo" >
            </div>
			
			<div class="menu">
				<a href="/admin/Cake"><button class="menuBtn">CAKES</button></a>
				<button class="menuBtn" style="font-weight:bold;">CUPCAKES</button>
				<a href="/admin/Cookie"><button class="menuBtn">DECORATED COOKIES</button></a>
				<a href="/admin/About"><button class="menuBtn">ABOUT</button></a>
				<a href="/admin/orders/all"><button class="menuBtn">ORDERS</button></a>
			</div>
		</div>
		
		<div class="productBox">
			<div class="buttonHolder">	
				<button type="submit" class="AddB" id="add">Add Cupcake</button>
			</div>
				<form action="/addCupcake" class="productForm" method="Post" enctype="multipart/form-data">
					<table class="table1">
						<tr>
							<th class="th1">Picture</th>
							<th class="th1">Name</th>
							<th class="th1">Flavor</th>
							<th class="th1">Size</th>
							<th class="th1">Price</th>
						</tr>
						<% cupcakes.forEach(function(cupcakes) { %>
						<tr class="border">
							<td class="td1"><img src="<%= cupcakes.image %>"></td>
							<td class="td1"><%= cupcakes.name %></td>
							<td class="td1">Vanilla<br>Chocolate<br>Red Velvet</td>
							<td class="td1">One Dozen<br>One Dozen<br>One Dozen</td>
							<td class="td1"><%= cupcakes.vanillaPrice %><br><%= cupcakes.chocolatePrice %><br><%= cupcakes.redvelvetPrice %></td>
							<td class="td1"><button type="button" class="Edit" id="edit">edit</button><br><br><button type="button" class="Remove" id="remove">remove</button></td>
						</tr>
						<% }) %>
					</table>
					<br>
					<div class="paginationHolder">	
						<div class="pagination">
							<button type="button" class="pageBtn" id="pagebtn"><a>&laquo;</a></button>
							<button type="button" class="pageBtn" id="pagebtn"><a>1</a></button>
							<button type="button" class="pageBtn" id="pagebtn"><a>2</a></button>
							<button type="button" class="pageBtn" id="pagebtn"><a>3</a></button>
							<button type="button" class="pageBtn" id="pagebtn"><a>4</a></button>
							<button type="button" class="pageBtn" id="pagebtn"><a>5</a></button>
							<button type="button" class="pageBtn" id="pagebtn"><a>6</a></button>
							<button type="button" class="pageBtn" id="pagebtn"><a>&raquo;</a></button>
						</div>
					</div>		
				</form>	
		</div>
		<div id="cupcakeModal" class="modal">
		<!-- Modal content -->
			<div class="modal-content-cupcake" style="background-color: #EBD8DB;">
				<span class="close"></span>
				<div class="addProductHeader">
					<h1>ADD CUPCAKE</h1>
				</div>
				<form action="/addCupcake" class="addProductForm" method="Post" enctype="multipart/form-data">
					<table class="table2">
						<tr>
							<td class="td2" style="width: 22%;"><div class="productCss"><label for="productName">Cupcake Name:</label></div></td>	
							<td class="td2" style="width: 3%;"></td>
							<td class="td2" style="width: 25%;"><input class="input" type="text" id="productName" name="productName" placeholder="Enter Name"></td>
							<td class="td2" style="text-align: center; width: 17%;"><div class="productCss"><label for="productPictures">Image:</label></div></td>								
							<td class="td2"><input type="file" id="myFile" name="filename" ></td>
						</tr>
					
						<tr>
							<td class="td2"><div class="productCss"><label for="productFlavors">Vanilla</label></div></td>
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2"></td>								
							<td class="td2"></td>
						</tr>
					
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss"><label for="productSizes">One Dozen</label></div></td>
							<td class="td2"></td>								
							<td class="td2"><input class="input" type="number" id="productPrices" name="productPricesVanilla" placeholder="Enter Price"></td>
							<td class="td2"></td>								
							<td class="td2"></td>
						</tr>				
					
						<tr>
							<td class="td2"><div class="productCss"><label for="productFlavors">Chocolate</label></div></td>								
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2"></td>
							
						</tr>
						
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss"><label for="productSizes">One Dozen</label></div></td>								
							<td class="td2"></td>
							<td class="td2"><input class="input" type="number" id="productPrices" name="productPricesChocolate" placeholder="Enter Price"></td>
							<td class="td2"></td>								
							<td class="td2"></td>
						</tr>
						
						<tr>
							<td class="td2"><div class="productCss"><label for="productFlavors">Red Velvet</label></div></td>								
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2"></td>
							<td class="td2" style="text-align: center;"><button class="Add" id="addl">Add</button></td>
							
						</tr>
						
						<tr>
							<td class="td2" style="text-align: right;"><div class="productCss"><label for="productSizes">One Dozen</label></div></td>
							<td class="td2"></td>
							<td class="td2"><input class="input" type="number" id="productPrices" name="productPricesRedVelvet" placeholder="Enter Price"></td>
							<td class="td2"></td>								
							<td class="td2" style="text-align: center; padding-top: 10px;"><button class="Cancel" id="cancel">Cancel</button></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</body>
	<script>
		$( document ).ready(function() {
			var errors = '<%= error_msg %>';
			console.log(errors)
			if(errors.length > 0) {
				$('#cupcakeModal').css('display', 'block')
			}	
		});	
		// Get the modal
		var modal = document.getElementById("cupcakeModal");

		// Get the button that opens the modal
		var btn = document.getElementById("add");

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks the button, open the modal 
		btn.onclick = function() {
			modal.style.display = "block";
		}

		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
			modal.style.display = "none";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>
</html>	