<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Products</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <link href="/css/keen-slider.css" rel="stylesheet" type="text/css" />
        <link href="/css/keen-slider.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="/js/index.js"></script>
        <script src="/js/keen-slider.min.js"></script>
        <script src="/js/keen-slider.js"></script>
    </head>

    <body class="mainBackground">
        <div class="header">
            <%- include("partials/logo") %>
			<%- include("partials/menubuttons") %>
        </div>


        <div class="soloCarousel">
            <div id="my-keen-slider" class="keen-slider adjust">
                <% display.forEach(function(display) { %>
                    <button class="keen-slider__slide productCarouselDisplay">      
                        <div class="carouselItemImage">
                            <img src="<%= display.image %>" placeholder="<%= display.name %>" alt="<%= display.name %>">
                        </div>
                    </button>
                <% }) %>
            </div>
        
            <div class="soloCarouselBtn soloCarouselPrev">&#10094;</div>
            <div class="soloCarouselBtn soloCarouselNext">&#10095;</div>
        </div>

        <div class="multiCarousel">
            <div id="multi" class="keen-slider adjust">
                <% for (let i = 0; i < display.length; i++) { %>
                <button type="button" class="keen-slider__slide productBoxCarousel">      
                    <div class="carouselItemImage">
                        <img src="<%= display[i].image %>" placeholder="<%= display[i].name %>" alt="<%= display[i].name %>">
                        <p class="displayProductType" hidden><%= types[i] %></p>
                        <p class="displayProductID" hidden><%= display[i]._id %></p>
                    </div>
                </button>
                <% } %>
            </div>
            <div class="multiCarouselBtn multiCarouselPrev">&#10094;</div>
            <div class="multiCarouselBtn multiCarouselNext">&#10095;</div>
        </div>
    </body>

    <script>
        $('.productBoxCarousel').click(function() {
            var productID = $(this).find('.displayProductID').text()
            var productType = $(this).find('.displayProductType').text()
            window.location.assign( '/Products/' + productType + '?productID=' + productID)
        })
    </script>
</html>
