<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title><%= type %></title>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>
    </head>

    <body class="mainBackground">
        <div class="header">
            <%- include("partials/logo") %>
			<%- include("partials/menubuttons") %>
        </div>

        <div class="productContainer">

            <% preview.forEach(function(preview) { %>
                <button type="button" class="productBox" id="Carousel<%= preview._id %>">      
                    <div class="productImage">
                        <img src="<%= preview.image %>" placeholder="<%= preview.name %>" alt="<%= preview.name %>">
                        <input type="hidden" value="<%= type %>">
                    </div>
                    <div class="productBoxName">
                        <%= preview.name %>
                    </div>
                </button>
            <% }) %>

        </div>

        <div class="modalBackground">
            <div class="modalContent">
                <div class="close">+</div>

                <div class="modalContentImageContainer">
                    <div class="modalContentImage">
                        <img id="displayProductImage" src="images/loginbackground.png" alt="placeholder">
                    </div>
                    <div class="modalProductNote">
                        <span class="productNote">Note: <span id="productNote"></span></span>
                    </div>
                </div>

                <form class="orderForm">
                    <p id="displayProductName" class="orderName"></p>

                    <p class="orderPrice">&#8369;<span id="displayProductPrice" data="0">0</span></p>

                    <%_ if (type != 'Cookie') { _%>
                    <div class="orderFlavorContainer">
                        <select id="displayProductFlavor" class="orderFlavor" title="Flavor" name="flavor">
                        </select>
                        <label class="orderFlavorLabel">Flavor</label>
                    </div>
                    <%_ } _%>

                    <%_ if (type == 'Cake') { _%>
                    <div class="orderSizeContainer">
                        <select id="displayProductSize" class="orderSize" title="Size" name="size">
                        </select>
                        <label class="orderSizeLabel">Size</label>
                    </div>
                    <%_ } _%>

                    <%_ if (type == 'Cupcake') { _%>
                    <div class="orderFrostingContainer">
                        <select id="displayProductFrosting" class="orderFrosting" title="Frosting" name="frosting">
                        </select>
                        <label class="orderFrostingLabel">Frosting</label>
                    </div>
                    <%_ } _%>

                    <%_ if (type != 'Cake') { _%>
                    <div class="orderDesignNumberContainer">
                        <select id="displayProductDesignNumber" class="orderDesignNumber" title="DesignNumber" name="designNumber">
                        </select>
                        <label class="orderDesignNumberLabel">No. of Designs</label>
                    </div>
                    <%_ } _%>
                    
                    <div class="orderCakeNumberContainer">
                        <select id="displayProductCakeNumber" class="orderCakeNumber" title="CakeNumber" name="cakeNumber">
                        </select>
                        <label class="orderCakeNumberLabel">Cake Number</label>
                    </div>

                    <div class="orderQuantityContainer">
                        <div class="orderQuantityItems">
                            <span id="decrement" class="incdec orderDecrement">-</span>
                            <input id="displayProductQuantity" name="orderQuantity" class="orderQuantity" type="number" min="1" max="100" value="1" >
                            <span id="increment" class="incdec orderIncrement">+</span>
                        </div>
                        <label class="orderQuantityLabel">Quantity</label>
                    </div>

                    <%_ if (type == 'Cake') { _%>
                    <div class="orderDedicationContainer">
                        <p class="orderDedicationLabel">Dedication:</p>
                        <textarea id="displayProductDedication" class="orderDedication" maxlength="100" placeholder="Enter Message..."></textarea>
                    </div>
                    <%_ } _%>

                    <%_ if (type != 'Cake') { _%>
                        <div class="orderDesignContainer">
                            <p class="orderDesignLabel">Designs:</p>
                            <textarea id="displayProductDesign" class="orderDesign" maxlength="100" placeholder="Enter Designs..."></textarea>
                        </div>
                    <%_ } _%>

                    <div class="orderAddContainer">
                        <button type="button" class="addBtn" value="<%= type %>">ADD TO CART</button>
                    </div>

                    <p class="orderDedicationNote">Customization: Only the name or dedication for this cake is customizable. For custom colors please email us.</p>
                </form>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function() {
            const params = new Proxy(new URLSearchParams(window.location.search), {
                get: (searchParams, prop) => searchParams.get(prop),
            });
            let value = params.productID; 
            if (typeof value !== 'undefined' || value != '') {
                console.log($(`#Carousel${value}`).trigger('click'))
            }
        })
    </script>
</html>