<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title><%= type %></title>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>
    </head>

    <body class="mainBackground">
        <div class="header">
            <%- include("partials/logo") %>
			<%- include("partials/menubuttons") %>
        </div>

        <div class="productContainer">

            <% preview.forEach(function(preview) { %>
                <button class="productBox">      
                    <div class="productImage">
                        <img src="<%= preview.image %>" placeholder="<%= preview.name %>" alt="<%= preview.name %>">
                        <input type="hidden" value="<%= type %>">
                    </div>
                    <div class="productBoxName">
                        <%= preview.name %>
                    </div>
                </button>
            <% }) %>

        </div>

        <div class="modalBackground">
            <div class="modalContent">
                <div class="close">+</div>

                <div class="modalContentImage">
                    <img id="displayProductImage" src="images/loginbackground.png" alt="placeholder">
                </div>

                <form class="orderForm">
                    <h1 id="displayProductName"></h1>

                    <h2>&#8369;<span id="displayProductPrice" data="0">0</span></h2>

                    <input type="hidden" name="productName" value="productName">
                    <%_ if (type != 'Cookie') { _%>
                    <select id="displayProductFlavor" class="orderFlavor" title="Flavor" name="flavor">
                        <!--
                        <option value="Vanilla">Vanilla</option>
                        <option value="Chocolate">Chocolate</option>
                        <option value="Red Velvet">Red Velvet</option>
                        -->
                    </select>
                    <%_ } _%>
                    <%_ if (type == 'Cake') { _%>
                    <select id="displayProductSize" class="orderSize" title="Size" name="size">
                        <!--
                        <option value="6x5">6" x 5"</option>
                        <option value="8x5">8" x 5"</option>
                        -->
                    </select>
                    <%_ } _%>

                    <%_ if (type == 'Cupcake') { _%>
                    <select id="displayProductFrosting" class="orderFrosting" title="Frosting" name="frosting">
                    </select>
                    <%_ } _%>
                    

                    <div class="orderQuantityContainer">
                        <span id="decrement" class="incdec orderDecrement">-</span>
                        <input id="displayProductQuantity" name="orderQuantity" class="orderQuantity" type="number" min="1" value="1" >
                        <span id="increment" class="incdec orderIncrement">+</span>
                    </div>

                    <%_ if (type == 'Cake') { _%>
                    <textarea rows="9" columns="9">pokemon</textarea>
                    <%_ } _%>


                    <button type="button" class="addBtn" value="<%= type %>">ADD TO BASKET</button>
                </form>
            </div>
        </div>
    </body>

</html>