  <div class="blogInput">
    <div class="blogImage">
      <img src="{{ this.image }}" placeholder = "{{ this.image }}"></div>
      <div class="blogTitle">{{ this.title }}</div>
      <div class="blogAuthor">Author: {{ this.owner }}</div>
      <div class="blogText">{{ this.content }}</div><br>
    <form class="commentform">
      {{#if loggedin}}
      <textarea class="commentbox" id="commentbox" type = "text" placeholder = "Comment here"></textarea>
      {{else}}
      <textarea class="commentbox" id="commentbox" type = "text" placeholder = "Login first before reacting and commenting"></textarea>
      {{/if}}
      <input type="hidden" id="postID" value="{{this._id}}"></input>
      <div class="blogReacts">
        <a id="thumbsup" class="thumbsup"> 
          <i class="fas fa-thumbs-up"></i>
        </a>
        <span id="thumbcount">{{ this.likes }}</span>
      </div>
      {{#if loggedin}}
      <button id="comment"> Comment </button>
      {{else}}
      <button id="redirecttologin"><a href="/login">Log in to Comment</a></button>
      {{/if}}
    </form>
    <p id="commenttitle">Comments : </p>
      <div id="commentsection">
      {{#each comment}}
        {{> comments}}
      {{/each}}
      </div>
      {{#if isowner}}
        <form id="editdeleteform" action="" method="GET">
          <!--<input type="text" id="postID" name="postID" value="{{this._id}}" hidden/>-->
          <input type="hidden" id="postID" name="postID" value="{{this._id}}"></input>
          {{> editdeleteblog}}
        </form>
      {{/if}}
  </div>