<a href="/blog/{{ this._id }}" class="box {{this.genre}}">
    <div class="image">
        <img src="{{ this.image }}" alt="{{ this.image }}">
    </div>
    <div class="text">
        <span> {{ this.createAt }} </span>
        <strong >{{ this.title }}</strong>
    <p>{{ this.description }}</p>
    </form>
    </div>
</a>